# Importing Necessary Libraries

In [2]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
import re

# Extracting all details from the Websight

In [150]:
import requests

i = 1
url = f'https://www.nestoria.in/maharashtra/property/sale/{i}'

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36"

}

response = requests.get(url, headers=headers)
html_code = response.text

print(response.status_code)  # 200 means OK

200

In [186]:
Title = []
Size = []
Price_per_sq = []
BHK = []
Bathrooms = []
PropertyType = []
Price = []

for i in range(1,250):
    # step 1 : Identify the Url
    url = f'https://www.nestoria.in/Maharashtra/property/sale/{i}'
    headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36"

}


    # step 2 : Extract the HTML code
    response = requests.get(url)
    html_code = response.text

    # step 3 : Parse the HTML code to BeautifulSoup object
    soup = BeautifulSoup(html_code)

    # Step 4 : Find HTML tags ad attributes - Done

    #Step 5: Using Beautiful Soup object, extract the data from tags
    # Title
    title = soup.find_all('div', attrs={'class':'listing__title'})
    for t in title:
        Title.append(t.text)

    # Size
    size = soup.find_all('span', attrs={'class':'summary-item size'})
    for s in size:
        Size.append(s.text)

    # price_per_sq
    price_per_sq = soup.find_all('span', attrs={'class':'summary-item size-per'})
    for p in price_per_sq:
        Price_per_sq.append(p.text)

    # BHK
    bhk = soup.find_all('span', attrs={'class':'summary-item rooms'})
    for b in bhk:
        BHK.append(b.text)

    # Bathrooms
    bathrooms = soup.find_all('span', attrs={'class':'summary-item bathrooms'})
    for b in bathrooms:
        Bathrooms.append(b.text)

    # propertyType
    propertyType_tags = soup.find_all('span', attrs={'class':'summary-item propertyType'})
    for p in propertyType_tags:
        PropertyType.append(p.text)

    # Price 
    price = soup.find_all('div', attrs={'class':'result__details__price price_click_origin'})
    for p in price:
        Price.append(p.text)

# Checking the length of all the columns

In [23]:
print('Title =>',len(Title))
print('Size =>',len(Size))
print('Price_per_sq =>',len(Price_per_sq))
print('BHK =>',len(BHK))
print('Bathrooms =>',len(Bathrooms))
print('PropertyType =>',len(PropertyType))
print('Price =>',len(Price))

NameError: name 'Title' is not defined

## Run From Here

In [22]:
import pandas as pd
from itertools import zip_longest
import numpy as np

df = pd.DataFrame(list(zip_longest(
    Title, Size, Price_per_sq, BHK, Bathrooms, PropertyType, Price,
    fillvalue=np.nan
)), columns=["Address", "Size/Square", "Price_per_sq", "BHK", "Bathrooms", "Property_Type", "Price_in_cr"])

df

NameError: name 'Title' is not defined

# Address

In [2]:
df['Address'] = df['Address'].str.replace('\n','')

NameError: name 'df' is not defined

# Size/sq

In [3]:
df['Size/Square'] = df['Size/Square'].str.replace('sq.ft','').str.replace(',','')

NameError: name 'df' is not defined

# Price_per_sq

In [4]:
df['Price_per_sq'] = df['Price_per_sq'].str.replace("₹","").str.replace(",","").str.replace("/sq.ft","")

NameError: name 'df' is not defined

# BHK

In [5]:
df['BHK'] = df['BHK'].str.replace('BHK','')

NameError: name 'df' is not defined

# Bathrooms

In [6]:
df['Bathrooms'] = df['Bathrooms'].str.replace('Baths','').str.replace('Bath','')

NameError: name 'df' is not defined

# property_Type

In [7]:
df['Property_Type'] = df['Property_Type'].str.replace('Flat/apartment','apartment').str.replace('Plot/land','Plot').str.replace('House/villa','villa')

NameError: name 'df' is not defined

# Price_in_cr

In [ ]:
df['Price_in_cr'] = df['Price_in_cr'].str.replace('\n','')

In [ ]:
def to_crores(value):
    if pd.isna(value):   # handle NaN safely
        return None
    
    value = str(value).lower().replace("₹", "").replace(",", "").strip()
    
    if "crore" in value:
        num = float(value.replace("crores", "").replace("crore", "").strip())
    elif "lakh" in value:
        num = float(value.replace("lakhs", "").replace("lakh", "").strip()) / 100
    else:
        try:
            num = float(value)  # in case it's already numeric
        except:
            return None
    
    # format to string with 2 decimal places
    return f"{num:.2f}"

# Apply to column
df["Price_in_cr"] = df["Price_in_cr"].apply(to_crores)

In [ ]:
df['Property_Type'].unique()

In [8]:
import pandas as pd
import re

# Load your data (assuming you read it into a DataFrame called df)
# Example:
# df = pd.read_csv("your_file.csv", names=["Address"])

cities = ["Pune", "Mumbai", "Nashik", "Nagpur"]
pattern = r"\b(" + "|".join(cities) + r")\b"

def extract_city(address):
    if not isinstance(address, str):
        return None
    match = re.search(pattern, address, flags=re.IGNORECASE)
    if match:
        return match.group(1).title()
    return None

df["City"] = df["Address"].apply(extract_city)

# Count missing city rows
missing_city_count = df["City"].isna().sum()
total_rows = len(df)

print("Total rows:", total_rows)
print("Rows without city:", missing_city_count)
print("Percentage missing:", round((missing_city_count/total_rows)*100, 2), "%")

NameError: name 'df' is not defined

In [ ]:
df

# Extracting the Columns from Address column

In [9]:
# gym
regex_gym = r'\bGym\b'

# Create a new column 'Gym_status'
df['Gym_status'] = df['Address'].apply(
    lambda x: 'Gym' if isinstance(x, str) and re.findall(regex_gym, x) else 'No Gym'
)

NameError: name 'df' is not defined

In [ ]:
# Club House
regex_club = r'\bClub House\b'

# Create a new column 'Club_House_status'
df['Club_House_status'] = df['Address'].apply(
    lambda x: 'Club House' if isinstance(x, str) and re.findall(regex_club, x) else 'No Club House'
)

In [10]:
# Lift
regex_lift = r'\bLift\b'

# Create a new column 'Lift_status'
df['Lift_status'] = df['Address'].apply(
    lambda x: 'Lift' if isinstance(x, str) and re.findall(regex_lift, x) else 'No Lift'
)

NameError: name 'df' is not defined

In [ ]:
# Swimming Pool
regex_pool = r'\bSwimming Pool\b'

# Create a new column 'Swimming_Pool_status'
df['Swimming_Pool_status'] = df['Address'].apply(
    lambda x: 'Swimming Pool' if isinstance(x, str) and re.findall(regex_pool, x) else 'No Swimming Pool'
)

In [11]:
cities = ["Pune", "Mumbai", "Nashik", "Nagpur"]

# Regex pattern to capture city names
pattern = r"\b(" + "|".join(cities) + r")\b"

def extract_city(address):
    if not isinstance(address, str):
        return None
    match = re.search(pattern, address, flags=re.IGNORECASE)
    if match:
        return match.group(1).title()   # normalize capitalization
    return None

df["City"] = df["Address"].apply(extract_city)

NameError: name 'df' is not defined

# Checking for null values

In [ ]:
df.isna().sum()

In [ ]:
df.shape

# Droaping the null value columns

In [12]:
df = df.dropna()

NameError: name 'df' is not defined

In [ ]:
df.isna().sum()

In [13]:
df.shape

NameError: name 'df' is not defined

# Checking the Number of unique values

In [14]:
df.nunique()

NameError: name 'df' is not defined

# Checking the Data Types

In [15]:
df.info()

NameError: name 'df' is not defined

# Converting the data types

In [16]:
df['Size/Square'] = df['Size/Square'].astype(int)

NameError: name 'df' is not defined

In [17]:
df['Price_per_sq'] = df['Price_per_sq'].astype(int)

NameError: name 'df' is not defined

In [18]:
df['Price_in_cr'] = df['Price_in_cr'].astype(float)

NameError: name 'df' is not defined

In [19]:
df['City'].unique()

NameError: name 'df' is not defined

### Rechecking the data types

In [20]:
df.info()

NameError: name 'df' is not defined

In [21]:
df.duplicated().sum()

NameError: name 'df' is not defined

In [256]:
# Remove duplicate rows
df = df.drop_duplicates()

# Saving the cleaned df in the CSV format

In [258]:
df.to_csv("House_1.csv",index = False)